.container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.popupContainer {
    display: flex;
    align-items: center;
    margin-left: 193px;
}

.popup {
    margin: 10px
}

.dialogTitle {
    text-align: center;
}

.dialogAction {
    margin: 0 auto;
}